.searchInputs {
    margin-top: 50px;
    display: flex;
  }
  
  .search input {
    background-color: rgb(255, 253, 253);
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
  }
  
  .searchIcon {
    height: 60px;
    width: 50px;
    background-color: rgb(58, 58, 58);
    display: grid;
    place-items: center;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
  .dataResult {
    position: fixed;
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: rgb(41, 41, 41);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
    color: white;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }